{% extends "base_generic.html" %}

{% block content %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        
<!--Librerias de lightbox los css-->
{% load static %}

    <link rel="stylesheet" href="{% static 'css/lightbox.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/styles.css'%}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
  

    {% block title %}<title>Galeria Copa Libertadores</title>{% endblock %}
    <style>

    body{  
    background: -webkit-linear-gradient(to right, rgb(248, 248, 248), #cccaca);
    background: linear-gradient(to right, #f5f5f5, #c5c4c4);
    
    }  
    
    
    
  </style> 
      
  </head>
  

  <body>
    <br>
    <br>
    

    <div class= "container">
      <hr>
      <h1>Los Ultimos Campeones en estos ultimos 3 Años son: </h1>
      <hr>
      <div class="row">
        <div class="col-lg-4">
         <br>
          <img src="{% static 'img/flamengo2.png'%}" alt="" svg class="bd-placeholder-img rounded-circle" width="140" height="140" >
          <br>
          <br>
          <h2>Club Flamengo</h2>
          
          <p>Flamengo Club Brasileño campeón de la CONMEBOL Libertadores 2019! Después de 38 años de su único título continental, 
            Flamengo volvió a proclamarse campeón de la CONMEBOL Libertadores al vencer 2-1 a River Plate este sábado en Lima</p>
  
          <p><a class="btn btn-secondary" href="https://www.marca.com/claro-mx/futbol-internacional/copa-libertadores/final/2019/11/23/5dd9ac8d268e3ebd558b45b0.html" target="_blank" role="button">Saber Más &raquo;</a></p>
        </div>
        <div class="col-lg-4">
          <br>
          <img src="{% static 'img/river1.jpg'%}" alt="" svg class="bd-placeholder-img rounded-circle" width="140" height="140" >
          <br>
          <br>
  
          <h2>River Plate</h2>
          <p>
            Esta edición será recordada por la histórica final disputada en el 2018 entre los clubes argentinos Boca Juniors y River Plate, 
            una de las rivalidades más grandes del mundo, y por la decisión de la Conmebol de trasladar la final de vuelta a tierras europeas. 
            El campeón fue River Plate, al derrotar por un global de 5-3.
          </p>
          <p><a class="btn btn-secondary" href="http://www.conmebol.com/es/river-plate-campeon" target="_blank" role="button"> Saber Más &raquo;</a></p>
        </div>
  
        <div class="col-lg-4">
          <br>
          <img src="{% static 'img/gremio1.png'%}" alt="" svg class="bd-placeholder-img rounded-circle" width="140" height="140" >
          <br>
          <br>
  
          <h2>Gremio</h2>
          <p>
            Gremio de Brasil se consagró la noche del miércoles 29/11/2017 campeón por tercera vez de la CONMEBOL Libertadores Bridgestone, al derrotar al argentino Lanús 2-1 en el estadio La Fortaleza frente a 45.000 hinchas al sur de Buenos Aires.
            ​</p>
          <p><a class="btn btn-secondary" href="https://elpais.com/deportes/2017/11/30/actualidad/1512007519_262271.html" target="_blank" role="button">Saber Más &raquo;</a></p>
        </div>
      </div>

    <hr class="featurette-divider">
    </div>
    <div class="container">
      <h1>Momentos Inmemorables: </h1>
      <hr>

    </div>

    <div class="gallery-container">
        <div class="gallery-card">
            <a href="{% static 'images/1.jpg'%}" data-lightbox="roadtrip"><img src="{% static 'images/1.jpg'%}" alt="Imagen"></a>
        </div>

        <div class="gallery-card">
            <a href="{% static 'images/2.jpg'%}" data-lightbox="roadtrip"><img src="{% static 'images/2.jpg'%}" alt="Imagen"></a>
        </div>

        <div class="gallery-card">
            <a href="{% static 'images/3.jpg'%}" data-lightbox="roadtrip"><img src="{% static 'images/3.jpg'%}" alt="Imagen"></a>
        </div>

        <div class="gallery-card">
            <a href="{% static 'images/4.jpg'%}" data-lightbox="roadtrip"><img src="{% static 'images/4.jpg'%}" alt="Imagen"></a>
        </div>

        <div class="gallery-card">
            <a href="{% static 'images/5.jpg'%}" data-lightbox="roadtrip"><img src="{% static 'images/5.jpg'%}" alt="Imagen"></a>
        </div>

        <div class="gallery-card">
            <a href="{% static 'images/6.jpg'%}" data-lightbox="roadtrip"><img src="{%static 'images/6.jpg'%}" alt="Imagen"></a>
        </div>
    </div>


 
    <!--  JavaScript -->
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<!--Librerias de lightbox en js-->
    <script src="{%static 'js/lightbox-plus-jquery.min.js'%}"></script>
    <script src="{%static 'js/lightbox.min.js'%}"></script>
    <script src="{%static 'js/app.js'%"></script>
    
      
  </body>
</html>
{% endblock %}